<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title of your page</title>
</head>

<body>

    <h1 class="message-header"><%= link_to game.name, game %></h1>

    <article class="message is-dark">
        <div class="message-header">
            <strong>Rank:</strong>
        </div>
        <div class="message-body">
            <%= game.rank %>
        </div>
    </article>

    <article class="message is-dark">
        <div class="message-header">
          <p>Genre:</p>
        </div>

        <div class="message-body">
          <%= game.genre %>
        </div>
    </article>

      <article class="message is-dark">
        <div class="message-header">
          <p>Console:</p>
        </div>

        <div class="message-body">
          <%= link_to game.platform.name, plataform_path(game.platform) %>
        </div>
      </article>

    <article class="message is-dark">
    <div class="message-header">
      <p>Sales:</p>
    </div>

    <div class="message-body">
      Sales in North America (in millions): <%= game.sales %> <br>
      Sales in North Europe (in millions): <%= game.sales %> <br>
      Sales in North Japan (in millions): <%= game.sales %>  <br>
      Other Sales (in millions):  <%= game.sales %>          <br>
      Global Sales (in millions): <%= game.sales %>          <br>
    </div>
  </article>

</body>

</html>
