<footer>
      <p>
        <em>
          VHighes Ranking Video Games in 2023
        </em>
      </p>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to 'See the Top Games', games_path %></li>
        <li><%= link_to 'See the Top Companies', publishers_path %></li>
        <li><%= link_to 'See the Top plataform', plataforms_path %></li>
        <li><%= link_to 'See the top Sale', sales_path %></li>
        <li><%= link_to 'About us', about_index_path%></li>
        <li><%= link_to 'Pages', pages_path %></li>
      </ul>
    </footer>