<h2>Video Games Sales</h2>

<ol>
  <% @sales.each do |sa| %>
  <li>
    <article class="message is-dark">
      <div class="message-header">
        <h3><%= "#{sa.games.name} #{sa}" %></h3>
      </div>

      <div class="message-body">
        <ul>
          <li>
            Sales in North America (in millions): $<%= sa.na_sales %>
          </li>

          <li>
            Sales in Europe (in millions): $<%= sa.eu_sales %>
          </li>

          <li>
            Sales in Japan (in millions): $<%= sa.jp_sales %>
          </li>

          <li>
            Sales in the rest of the world (in millions): $<%= sa.other_sales %>
          </li>
        </ul>
      </div>
    </article>
  </li>
  <% end %>
</ol>
